<p id="notice"><%= notice %></p>
<h1>Loans</h1>
<table>
  <thead>
    <tr>
      <th>Loan NO</th>
      <th>Assistant</th>
      <th>Manager</th>
      <th>Processor</th>
      <th>Escrow</th>
      <th>Creator</th>
      <th colspan="15"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.id %></td>
        <td><%= loan.Assistant %></td>
        <td><%= loan.Manager %></td>
        <td><%= loan.Processor %></td>
        <td><%= loan.Escrow %></td>
        <td><%= loan.Creator %></td>
        <td><%= link_to 'Show', loan %></td>
        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan', new_loan_path %>
