<p id="notice"><%= notice %></p>

<p>
  <strong>Loan number:</strong>
  <%= @loan.id %>
</p>

<p>
  <strong>Assistant:</strong>
  <%= @loan.Assistant %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @loan.Manager %>
</p>

<p>
  <strong>Processor:</strong>
  <%= @loan.Processor %>
</p>

<p>
  <strong>Escrow:</strong>
  <%= @loan.Escrow %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @loan.Creator %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
